@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{

    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.title-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#075E54;
    text-align: center;
    position: fixed;
    z-index: 10;
    width: 100%;
    /* display: none; */
}
.logo-image{
    width: 80;
    height: 80;
    display: none;
}
/* .title-name{
    color: white;
    text-transform: uppercase;
    padding-top: 20px;
    padding-left: 0px;
    padding-right: 50px;
   
} */
.title-name{
    margin-right: 15px;
    font-size: 15px;
    float: right;
}
.title-name ul{
    position: relative;
    /* display: inline-block; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    float: right;
    z-index: inherit;
    text-align: center;
    flex-direction: row;
    align-items: center;
    /* top: 50%;
    right: 50%;
    transform: translate(50%,0%); */

    
}
.title-name ul li{
    /* padding: 30px; */
    /* justify-content: space-between; */
    /* padding-left: calc(100%/4); */
    /* padding: 50px;
     */
     padding-top: 30px;
     padding-right: 100px;
     /* margin: 20px; */
     /* margin-right: 10px; */
     padding: 5px;



    


}
.title-name ul li a{
    text-decoration: none;
    color: white;
    background-color: #777;
}
.title-name ul li a h3{
    background-color: #777;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    transition: .5s;
}
.title-name ul li a h3:hover{
    letter-spacing: 2px;
    /* letter-spacing: -2px; */
    transform: scaleY();
    color: #075E54;
}
.nav-footer{
    width: 100%;
    left: 50%;
    transform: translate(0%,50%);
    position: fixed;
}

.nav-footer ul{
    left: 50%;
    top: 200px;
    position: relative;
    z-index:20 ;
    display: flex;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    cursor: pointer;
    background-color: #777;
    color: white;
    /* position: fixed; */
}
.nav-footer ul a{
    text-decoration: none;
}

.nav-footer ul a li h3{
    width: calc((100%/3));
    height: 30px;
    /* background-color: #777;  */
    list-style: none;
    text-decoration: none;
    /* padding: 5px; */
    transition: .1s;
    color: white;

}
.nav-footer ul a li h3:hover{
    /* background-color: #aaa; */
    /* color: white; */
    width: calc(100%/4);
    letter-spacing: 2px;
    height: 30px;
    
}
.Course-content{
    position: absolute;
    /* display: none; */
    height: 100%;
    width: calc(100%/4);
    background-color: #075E54;
    /* z-index: 2; */
    position: fixed;
    padding-top: 100px;
}
.Course-content li{
    overflow-y: scroll;
    overflow: hidden;


    color: white;
    /* margin: 10px; */
    /* padding: 10px; */
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
    margin-left: 10px;
    transition: .5s;
    /* text-align: center; */
}
.Course-content ul a{
    text-decoration: none;
}
.Course-content li p{
    transition: .5s;

}
.Course-content li p:hover{
    letter-spacing: 2px;
    cursor: pointer;
    border-bottom: 2px, solid green ;
    width: 100%/4;
    height: 30px;
    margin-left: 10px;
    padding-left: 10px;
    background-color: green;
    /* text-align: center; */
}
/* .Content-view-port{
   
} */

.HTML-content{
    /* padding: 0%;
    margin: 0; */
    padding-top: 100px;
    padding-left: 20px;
    max-width: calc(75%);

    position: absolute;
    left: calc(100%/4);
    /* transform: translate(0,50%); */
    height: calc(100%/5);
    /* background-color: #aaa; */
    width: 100%;
    /* white-space: initial; */
  padding-bottom: 40px;
    word-wrap: break-word;
}
.HTML-content div{
    max-width: calc(75%);
    padding-bottom: 30px;
    /* white-space: initial; */
    word-wrap: break-word
}
.HTML-content div img{
    height: 40vh;
    width: 75%;
}
@media all  and (max-width:700px) {
    .title-name ul li{
       
        padding-top: 30px;
        padding-right: 40px;
   
       
   
   
   }

}

@media all  and (max-width:500px) {

    .logo-image{
        width: 80px;
        height: 80px;
    }
    .title-bar{
        position: fixed;
    }
   
    
    .title-name ul li{
       
         padding-top: 30px;
         padding-right: 15px;
    
        
    
    
    }
    .title-name ul li a h3{
       
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        transition: .5s;
    }

    .Course-content{
        display: none;
    }
    .HTML-content{
        
        max-width: calc(100%);
    
        position: absolute;
        
        left: 10px;
        
        height: 100vh;
        /* background-color: #aaa; */
        width: 100%;
        /* white-space: initial; */
      padding-bottom: 40px;
        word-wrap: break-word;
    }
    .HTML-content div img{
       width: 100%;
    }
    /* p{
        right: 10px;
    } */
    .HTML-content div {
        left: 10px;
    }
    h1{
        left: 0px;
    }
    /* .Course-content{
        display: block;
        z-index: 10;
        width: 100%/2;
    } */
    .Content-view-port{
        width: 100%/3;
    }
    .Course-content ul li h1{
        font-size: 10px;
    }
    .nav-footer ul a li h3{
        font-size: 18px;
    }
    /* .HTML-content h1{
        font-size: 5px;
    } */

}
